.toast{
  position: fixed;
  top: 10%;
  right: 20px;
  background-color: #ff4d4d;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-weight: bold;
  animation: fadeOut 0.5s ease-out forwards;
  animation-delay: 2.5s;
}

@keyframes fadeOut {
  to{
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
  }
}